@charset "utf-8";

$bp: 896px;
$bp2: 1520px;

@mixin mq {
    @media (min-width: ($bp)) {
        @content;
    }
}

@mixin mq2 {
    @media (min-width: ($bp2)) {
        @content;
    }
}
/* コンテンツの横のパディング幅が、5%で指定されていますが、
   5%だとvw=1521px以上でレイアウトが崩れてしまうため、
　 vw=1521px以上でパディング幅を5%=>4.75%に変更しています。*/
/* The horizontal padding width of the content is specified as 5%,
   but when vw is 1521px or more, the layout is disrupted. 
   Therefore, the padding width has been changed from 5% to 4.75% for vw equal to or greater than 1521px. */

/* common part
----------------- */
html {
    font-size: 100%;
}

body {
    font-family: "Arial, Hiragino Sans, Hiragino Kaku Gothic ProN, Meiryo, sans-serif";
    font-size: clamp(14px, 0.85rem, 14px);
    color: #24292e;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: #24292e;
    &:hover {
        opacity: 50%;
    }
}

img {
    width: 100%;
    vertical-align: bottom;
}

.wrapper1200 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
    @include mq2 {
        padding: 0 5%;
    }
}

.logo {
    width: 120px;
    height: 40px;
}

li {
    list-style: none;
}

h2 {
    font-size: clamp(24px, 1.5rem, 24px);
    font-weight: bold;
    margin-bottom: 18px;
    line-height: 28px;
    letter-spacing: -1.2px;
    @include mq {
        letter-spacing: -1.4px;
    }
}

.button {
    width: 133px;
    height: 42px;
    border: solid 1px #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(12px, 0.75rem, 12px);
}

/* header
----------------- */
.big-bg {
    height: 100vh;
    background: url(../img/mainvisual.jpg) no-repeat center center / cover;
    position: relative;
    margin-bottom: 82px;
}

.top-logo {
    position: absolute;
    top: 30px;
    right: 30px;
}

/* A special
----------------- */
.ly-article {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ly-article > p {
    line-height: 21px;
    margin-bottom: 40px;
}

.grid1 {
    display: grid;
    grid-template:
        "... ....... ... " 0
        "... archive ... " 1fr
        "... ....... ... " 30px
        "... new     ... " 1fr
        "... ....... ... " 80px
        / 0 1fr 0;

    @include mq {
        grid-template:
            "... ....... ... ... ..." 0
            "... archive ... new ..." 1fr
            "... ....... ... ... ..." 80px
            / 0 1fr 20px 1fr 0;
    }
}

.archive {
    grid-area: archive;
}

.new {
    grid-area: new;
}

.grid1-ly-box {
    position: relative;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    background-color: #70707080;
    width: 290px;
    height: 97px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .item-titile {
        font-size: 1.125rem;
    }

    p {
        line-height: 20px;
    }
}

/* fashion
----------------- */
.fashion {
    background: url(../img/fashion.jpg) no-repeat center center / cover;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    @include mq {
        margin-bottom: 80px;
    }

    > h2 {
        margin-top: 35px;
        @include mq {
            margin-top: 60px;
        }
    }

    > p {
        margin-bottom: 26px;
        line-height: 22px;
        padding: 0 5%;
        @include mq2 {
            padding: 0 4.75%;
            margin-bottom: 30px;
        }
    }

    > .button {
        height: 40px;
    }
}

/* catalog-antique
----------------- */
.catalog-antique {
    background-color: #f5f5f5;
}

.grid2 {
    display: grid;
    grid-template:
        "... ...... ... " 30px
        "... c-img  ... " 1fr
        "... ...... ... " 60px
        "... c-text ... "
        "... ...... ... " 60px
        "... a-text ... "
        "... ...... ... " 60px
        "... a-img  ... " 1fr
        "... ...... ... " 30px
        / 0 1fr 0;

    @include mq {
        grid-template:
            "... ...... ... ...... ..." 60px
            "... c-img  ... c-text ..." 1fr
            "... ...... ... ...... ..." 120px
            "... a-text ... a-img  ..." 1fr
            "... ...... ... ...... ..." 60px
            / 0 1fr 40px 1fr 0;
    }
}

.catalog-img {
    grid-area: c-img;
}

.catalog-text {
    grid-area: c-text;
}

.antique-text {
    grid-area: a-text;
}

.antique-img {
    grid-area: a-img;
}

.gird2-ly-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq {
        align-items: center;
        justify-content: center;
    }
}

.gird2-ly-box > h2 {
    margin-bottom: 40px;
}

.gird2-ly-box > p {
    line-height: 21px;
    margin-bottom: 29px;
    @include mq {
        letter-spacing: -0.2px;
    }
}

.catalog-text > p {
    &:last-of-type {
        margin-bottom: 0;
    }
}

.antique-text > p {
    &:last-of-type {
        margin-bottom: 60px;
    }
    @include mq {
        margin-bottom: 30px;
    }
}

/* footer
----------------- */
.footer-bg-color {
    background-color: #333333;
    color: #ffffff;
}

.grid-footer {
    display: grid;
    grid-template:
        "... ....... ... " 30px
        "... f-logo  ... " 40px
        "... ....... ... " 28px
        "... f-text1 ... "
        "... ....... ... " 28px
        "... f-text2 ... "
        "... ....... ... " 60px
        / 0 1fr 0;

    @include mq {
        grid-template:
            "... ...... ... ....... ... ....... ..." 98px
            "... f-logo ... f-text1 ... f-text2 ..." 1fr
            "... ...... ... ....... ... ....... ..." 98px
            / 0 1fr 0 1fr 0 1fr 0;
    }
}

.f-logo {
    grid-area: f-logo;
    margin-left: auto;
    margin-right: auto;
    @include mq {
        margin: auto auto auto 0;
    }
}

.f-text1 {
    grid-area: f-text1;
}

.f-text2 {
    grid-area: f-text2;
    @include mq {
        padding-left: 38px;
    }
}

.f-text-title {
    font-size: clamp(16px, 1rem, 16px);
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 6px;
    @include mq {
        margin-bottom: 6px;
    }
}

.f-text1 li,
.f-text2 p {
    font-size: 0.75rem;
    letter-spacing: -0.2px;
    padding-right: 20px;
    @include mq {
        padding-right: 0;
    }
}

.f-text-list1 li {
    &::before {
        content: "-";
        margin-right: 5px;
    }
}

.copyright {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(12px, 0.75rem, 12px);
    letter-spacing: -0.8px;
}
